{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>{% block title %}BigBlog{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="{% static 'clone/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Average+Sans&display=swap" rel="stylesheet">
    </head>
    <header id="header">
        <!-- Fixed navbar -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-to">
            <div class="container">
                <a class="navbar-brand Logo" id="logo" href="/">BigBlog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Link</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input autocomplete="off" class="form-control mr-sm-2" id="search" type="search" placeholder="Search..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchButton"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <body>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>

</html>

<script>
    $(function() {
        $(document).scroll(function() {
            var $nav = $("#navbar");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
    });
</script>
<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    #navbar.scrolled {
        background-color: #880808 !important;
        transition: background-color 400ms linear;
    }

    #header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #logo {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #000 !important;
    }

    #search,
    #searchButton {
        border-radius: 15px;
        border-color: rgb(204, 204, 204);
        color: black;
    }

    #searchButton:hover {
        color: white;
        background-color: black;
        transition: .9s;
    }

    #search:focus {
        border-color: black;
    }

</style>
{% block script %}
    <script src="{% static 'clone/mobilenav.js' %}"></script>
{% endblock %}